<style>
/* 2020-12-02 Ed Parsadanyan: CSS injector for Shiny-Parser PoC */
/* CSS rules for making div and table borders */
div {
	background-color: none;
	border: dashed red 1px;
	padding: 3px;
	}
div:hover {
	background-color: none;
	border: solid black 1px;
	padding: 3px;
	}
table {
	background-color: none;
	border: dashed red 1px;
	padding: 3px;
	}
table:hover {
	background-color: none;
	border: solid black 1px;
	padding: 3px;
	}	
	
/* CSS rules tooltips with XPATH */
.inj_ttip {
  border-bottom: 1px dotted black;
  text-transform: lowercase;
}

.inj_ttip .inj_ttext {
  text-transform: lowercase;
  visibility: hidden;
  font-family: monospace;
  font-size: medium;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  margin-left: -10px;
  opacity: 0;
  transition: all 0.5s;
}

.inj_ttip:hover .inj_ttext {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}
</style>
