<div class="container-fluid main-container">
<div class="fluid-row" id="header">
<h1 class="title toc-ignore">Shiny Parser Readme</h1>
<h4 class="date">2021-03-12</h4>
</div>


<div id="intro" class="section level2">
<h2>Intro</h2>
<p>This Shiny app demonstrates the Proof of Concept of no-code webpage parsing. It provides a UI where users can select several XPath rules and generate a table with an information obtained from the page (this table can be downloaded in a csv format). Parsing settings can be saved as an yml file and re-used via <strong>Load Config</strong> button.</p>
<p>Shiny Parser was developed by <a href="https://www.linkedin.com/in/parsadanyan/" target="_blank">Ed Parsadanyan</a>.</p>
</div>
<div id="app-capabilities" class="section level2">
<h2>App capabilities</h2>
<p>Shiny Parser utilizes <strong>Rvest</strong> package (most recent version 1.0.0) and is able to work with several XPath rules at a time. Users can extract html text, tag attribute (useful when parsing page links) or html table.</p>
<p>Even though no R knowledge is needed for using the Shiny Parser, it is still expected that users are familiar with <strong>XPath</strong> (XML Path Language). Here is a good starting point for learning XPath syntax: <a href="https://www.w3schools.com/xml/xpath_syntax.asp" target="_blank">https://www.w3schools.com/xml/xpath_syntax.asp</a></p>
<p>Shiny Parser works best with HTML pages. Other text sources are supported as well (i.e. XML files), but they may look ugly in the preview window and might require some prior knowledge about the document structure.</p>
<p>When all XPath items are added, users can adjust the look of the final table, which is done via <strong>Load Config</strong> button. It is possible to provide column names, set up parsing source (text, attribute or table) and adjust XPath rules if needed.</p>
<p>After pressing <strong>Parse Page</strong> button users can download table and save config file for a future use.</p>
</div>
<div id="use-cases" class="section level2">
<h2>Use Cases</h2>
<p>All examples provide short animation and a list of XPath items.</p>
<div id="parsing-news" class="section level3">
<h3>1. Parsing news</h3>
<p>Let’s consider parsing news from the <a href="https://news.ycombinator.com/" target="_blank">YCombinator</a>. Each table item contains News title and URL. The following XPath items can be used to extract the information:</p>
<pre class="r"><code>//table[@class=&#39;itemlist&#39;]/*/td[@class=&#39;title&#39;][2]
//table[@class=&#39;itemlist&#39;]/*/td[@class=&#39;title&#39;][2]/a</code></pre>
<p>However, <code>&lt;a&gt;</code> tag requires some additional setup to extract href attribute.</p>
Click on the picture to start tutorial playback <video width="920" controls preload="metadata"> <source src="tutorial_news.webm" type="video/webm">
<p>
Your browser does not support the video tag.
</p>
</video>
</div>
<div id="parsing-tables" class="section level3">
<h3>2. Parsing tables</h3>
<p>Alternatively, tables can be parsed using <code>html_table()</code> function provided by <strong>Rvest</strong> package. At the moment Shiny Parser allows working only with a single XPath rule that is configured to extract tables.</p>
<p>Let’s consider the following <a href="https://cran.r-project.org/web/packages/shiny/index.html" target="_blank">CRAN page</a>. It contains three tables that can be accessed using the following XPath items:</p>
<pre class="r"><code>//table[1]
//table[2]
//table[3]</code></pre>
Click on the picture to start tutorial playback <video width="920" controls preload="metadata"> <source src="tutorial_table.webm" type="video/webm">
<p>
Your browser does not support the video tag.
</p>
</video>
</div>
<div id="parsing-xml-files" class="section level3">
<h3>3. Parsing XML files</h3>
<p>Other text documents can be parsed, such as XML. As one can see from the demo below, <code>&lt;iframe&gt;</code> hides XML tags from the <a href="https://www.w3schools.com/Xml/cd_catalog.xml" target="_blank">example file</a>, so it is important to check the content of the file elsewhere. Here is a structure of the example XML file:</p>
<p><img src="XML_tree.png" /></p>
<p>The following XPath items were used in this demo:</p>
<pre class="r"><code>//cd/title
//cd/artist
//cd/country
//cd/year</code></pre>
Click on the picture to start tutorial playback <video width="920" controls preload="metadata"> <source src="tutorial_xml.webm" type="video/webm">
<p>
Your browser does not support the video tag.
</p>
</video>
</div>
</div>
</div>
